<div ng-controller="PollDetailController">

  <div class="container-fluid polls-container">
    <a class="polls-title" href="#/{{ poll._id }}">
      {{ poll.title }}
    </a>
    <div class="row">
      <div class="col-xs-6">
        <ul class="list-group">
          <li class="list-group-item poll-item" ng-repeat="c in poll.choices">
              <button class="btn btn-default" ng-show="poll.can_vote" ng-click="vote($index)">Vote</button>
              <span>{{ c.title }}</span>
              <span class="votes badge">{{ c.votes }}</span>
          </li>
        </ul>
        <a href="http://twitter.com/home?status=Vote!%20http://{{ host }}%2F%23%2F{{ poll._id }}" title="Share on Twitter" target="_blank" class="btn btn-twitter">
          <i class="fa fa-twitter"></i><span> Tweet</span>
        </a>
      </div>
      <div class="col-xs-6">
        <canvas id="chart{{ poll._id }}" width="300" height="300"></canvas>
      </div>
    </div>
    <div class="poll-actions">
      <a href="#/update/{{ poll._id }}" class="btn btn-primary" ng-show="poll.is_owner">Edit</a>
      <a class="btn btn-danger" ng-show="poll.is_owner" ng-click="remove()">Delete</a>
    </div>
  </div>
</div>
