<div ng-controller="ListPollsController">

  <div class="container-fluid polls-container">
      <div ng-repeat="p in polls">
        <a class="polls-title" href="#/{{ p._id }}">
          {{ p.title }}
        </a>
        <div class="row">
          <div class="col-xs-6">
            <ul class="list-group">
              <li class="list-group-item poll-item" ng-repeat="c in p.choices">
                  <button class="btn btn-default" ng-click="vote(p, $index)" ng-show="p.can_vote">Vote</button>
                  <span>{{ c.title }}</span>
                  <span class="votes badge">{{ c.votes }}</span>
              </li>
            </ul>
            <a href="http://twitter.com/home?status=Vote!%20http://{{ host }}%2F%23%2F{{ p._id }}" title="Share on Twitter" target="_blank" class="btn btn-twitter">
              <i class="fa fa-twitter"></i><span> Tweet</span>
            </a>
          </div>
          <div class="cols-xs-6">
            <canvas id="chart{{ p._id }}"></canvas>
          </div>
        </div>


      </div>
  </div>
</div>
